i {
  margin-right: 5px;
}

td {
  max-width: 250px;
}

.navbar {
  padding: 15px 10px;
  background: #fff;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.nav-link {
  outline: none;
}

/* ---------------------------------------------------
  SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  /* justify-content: space-evenly; */
}

.sidebar {
  box-shadow: 1px 0 3px rgba(0, 0, 0, .1);
  margin-right:1%;
}

.sidebar .nav-link{
  color: #aaa;
  transition: 0.3s all;
}

.sidebar .nav-link.active {
  color: #000;
}

.sidebar .nav-link:hover{
  color: #000;
}

/* ---------------------------------------------------
  CONTENT STYLE
----------------------------------------------------- */

#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
}

.low-priority {
  color: green;
}

.med-priority {
  color: darkgoldenrod;
}

.high-priority {
  color: red;
}

.rolealign{
  width: 100%;
  align-items: center;
}

.faq_design{
  border : 3px solid rgb(27, 117, 227);
  padding : 10px;
  margin : 20px;
  border-radius: 10px;
  background-color: aliceblue;
  word-wrap: break-word;

}

.list_style{
  list-style-type: none;
}

.faq_head{
  color :rgb(227, 27, 74);
  text-align: center;  
  padding-bottom : 50px;
}

.google_auth{
  position : absolute;
  top : 45%;
  left : 45%;
  font-size: 50px;
}

.auth_login {
  text-align: center;
  vertical-align: middle;
  position : absolute;
  top : 38%;
  left : 40%;
  color :rgb(127, 27, 227);
  font-size: 30px;
  font-family: sans-serif;
  font-weight: bold;

}

.home_deco h2{

  color :rgb(227, 27, 74);
  margin-top : 50px;
}

.home_deco p{
  margin-top : 20px;
  margin-bottom: 50px;
  font-size: 18px;
}

.home_div{
  border : 3px solid blue;
  border-radius : 10px;
  padding : 10px;
  margin : 100px 200px 0px 220px;
  background-color: rgb(230, 251, 248);
  /* box-shadow: 5px 5px 5px 5px #e9e8e8; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.main_home_div{
  border : 3px solid blue;
  border-radius : 10px;
  padding : 20px;
  margin : 220px 500px 0px 500px;
  background-color: rgb(230, 251, 248);
  /* box-shadow: 5px 5px 5px 5px #e9e8e8; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.main_home_div h1{

  padding-bottom : 15px;
  font-family: Arial;
}

.login_div{
  border : 3px solid blue;
  border-radius : 10px;
  padding : 50px;
  margin : 250px 500px 0px 500px;
  background-color: rgb(230, 251, 248);
  /* box-shadow: 5px 5px 5px 5px #e9e8e8; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  
}

.login_div p{

  padding-bottom : 20px;
}

.middle_align{
  text-align : center;
  margin : auto;
  width : 40%;
}

.middle_align h3{
  padding : 20px;
}

.spaces{
  padding-top : 20px;
}

.middle_align_modf{
  margin : auto;
  width : 40%;
}

.middle_align_modfp{
  text-align: center;
  padding : 20px;
}


